@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  webkit-font-smoothing: antialiased;
}


:root{
  font-size:62.5%;
  --blue-default:rgba(50, 51, 81, 1);
  --white:#ffffff;
  --gray-dafault: rgba(161, 161, 161, 1);
  --longing: rgba(249, 240, 238, 1);
  --orange-default: rgba(245, 100, 61, 1);
  --orange-light: rgba(245, 100, 61, 0.8);

}

/* 
@media(max-width:1080px){
 html{
  font-size:93.75%;
 }
}

@media(max-width:728px){
  html{
    font-size: 87.5%;
  }
} */


body{
  font-size:1.6rem;
  font: 400;
  height:100vh;
  width:100%;
}

button{
  cursor: pointer;
}

a{
 text-decoration: none;
 color:inherit;
}

.baseContainer{
  max-width:1360px;
  width:100%;
  margin: 0 auto;   

  @media(max-width:728px){
    width:100%;
    margin: 0 auto;
    padding:1.4rem;
  }
}