.headerContainer{
  height:52.4rem;
  padding:5.8rem 0;
  background: #313352;
  color:white;
  
  overflow-x: hidden;
  .layoutDots{
    position: absolute;
    right: -10rem;
    width:311px;
    height:343px;
  }
  .headerBase{
    width:100%;
    display: flex;
    justify-content: space-between;
    
    .menuContainer{
      display:flex ;
      align-items: center;
      justify-content: center;
      gap:6.52rem;
      .menu{
         display: flex;
         align-items: center;
         justify-content: center;

         gap:4.5rem;
         a{
          transition:color .2s ease;
         }
         a:hover{
            color: var(--orange-default);
         }
      }
    }
    button{
      padding: 1.2rem 1.8rem;
      background-color: rgba(255, 255, 255, 0.09);
      display:flex;
      gap:0.5rem;
      align-items: center;
      justify-content: center;
      border-radius: 7px;

      transition:filter .2s ease;

      &:hover{
        filter: brightness(0.7);
      }
    }
    button.menuHamburger{
      display:none;
    }
  }
  
  .about{
    display:none;
  }

  @media(max-width:728px){
    height:83rem;
  
    .layoutDots{
      
      top:60rem;
      left: 8%;
      right: -50%;
    }
    .headerBase{
      .menuContainer{
        .menu{
          display:none;
        }
      }

      .buttonsHeader{
        display:flex;
        gap:1rem;
        button{
          background-color: var(--orange-default);
          span{
            display:none;
          }
        }
        button.menuHamburger{
          display:block;
          background-color: transparent;
        }
      }
      
    }
    .about{
      display:block;
      margin-top:10.2rem;
      color:var(--gray-light);

      h2{
        font-size:3.2rem;
        font-weight:400 ;
        line-height: 4rem;
        span{
          color: var(--blue-light);
        }
      }
      p{
        margin-top:0.1rem;
        max-width: 23.1rem;
        line-height: 2.523rem;
      }
    }
  }
}






